@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", serif;
}

:root {
    --cor-primaria: #4f46e5;
    --cor-secundaria: #7c3aed;
    --cor-escuro: #0f172a;
    --cor-maisEscuro: #0a0f1c;
    --cor-claro: #e2e8f0;
    --cor-vidro: rgba(255, 255, 255, 0.1);
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-escuro);
    color: var(--cor-claro);
}

/*Menu navegação*/
.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    color: var(--cor-claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--cor-primaria), var(--cor-secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}